.addsearch{
  		background-color: #f8f8f8;
  		border-radius: 4px;
    	border-color: #e7e7e7;
    	margin-top: 40px;
      margin-bottom: 20px;
    }
    .logo{
      		width: 80px;
    	  padding-top: 10px;
	    }

  		footer{
      		background: #3f3f3f;
      		color: #d5d5d5;
      		padding-top: 2rem;
    	}

		footer .ftcol1{
      			/*padding-left: 70px;*/
    	}

    	footer .ftcol2{
      		/*padding-top: 90px;*/
      		/*padding-left: 70px;*/
    	}

    	footer .ftcol3{
      		/*padding-top: 90px;*/
      		/*padding-left: 70px;*/
    	}

      /*footer .ftcol4{
          padding-top: 90px
          padding-left: 70px;
      }*/

    	footer .col1st{
      		text-align: justify;
    	}

    	footer .col2nd{
      		text-align: justify;
    	}

    	footer .col3rd h6{
      		line-height: 30px;
    	}

    	hr.light{
	      border-top: 1px solid #d5d5d5;
	      width: 60%;
	      margin-left: 0;
    	}

    	hr.light2{
	      border-top: 1px solid #d5d5d5;
	      width: 60%;
    	}

    	.social a{
      		font-size: 2.2em;
      		padding: 1.5rem;
    	}

	    .fa-facebook{
	      color: #3b5998;
	    }

	    .fa-twitter{
	      color: #00aced;
	    }

	    .fa-youtube{
	      color: #bb0000;
	    }

	    .fa-linkedin{
	      color: #0077B5;
	    }