<!DOCTYPE html>
<html>
<head>
	<title>Angular CRUD Task</title>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css" href="css/crud.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  	<script src="Js/crudscript.js"></script>

</head>
<body>

	<div ng-app="myApp" ng-controller="myCtrl">
		<!--Navigation Section-->
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<div class="container-fluid">
		  		<!-- Brand/logo -->
		  		<a class="navbar-brand" href="#">
		    		<img src="Images/logo.png" alt="logo" style="width: 80px;">
		  		</a>
		  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ResponsiveNav">
		  			<span class="navbar-toggler-icon"></span>
		  		</button>
		  		<div class="collapse navbar-collapse" id="ResponsiveNav">
		  			<h2 class="offset-3 text-center" style="color: #d5d5d5;">CRUD Operation With Angular Js</h2>
			  	</div>	
		  	</div>	
		</nav>

		<!--add & search box-->
		<div class="container addsearch" style="border: 2px solid #d6d6c2;">
			<div class="row">
				<div class="col-4 alert alert-default">
					<button class="btn btn-primary" ng-click="formFunc()" ng-disabled="Isdisable">Add New <i class="fas fa-user-plus"></i></button>
				</div>
				<div class="col-8 alert alert-default input-group">
					<input type="text" class="form-control" placeholder="Search Employee Details Into Database..." ng-model="search">
				</div>
			</div>
		</div>

		<!--user addition form-->
		<div class="col-md-6 offset-md-3 formSec">
			<div class="container addsearch" ng-show="formView" style="border: 2px solid #d6d6c2;">
                <h2 class="text-info text-center" ng-attr-title="{{ message }}">{{message}}</h2>
		    	<form class="form-horizontal" name="regiform" id="formfirst" method="post" action="" ng-submit="isUser? submitForm() : updateInfo()">

			      <div class="form-group row">
			        <label class="col-sm-2 col-form-label" for="name">Name:</label>
			        <div class="col-sm-10">
			        	<input type="text" class="form-control" id="name" name="name" ng-model="entry.user_name" placeholder="Enter name..." autofocus required>
			        	<p style="color:red" ng-show="regiform.name.$dirty && regiform.name.$invalid">
							<span ng-show="regiform.name.$error.required">Name is required.</span>
						</p>
			        </div>
			      </div>

			      <div class="form-group row">
			        <label class="col-form-label col-sm-2 pt-0" for="gender">Gender:</label>
			        <div class="col-sm-10">
			          <div class="form-check">
			            <input class="form-check-input" type="radio" name="gender" id="female" ng-model="entry.user_gender" value="Female">
			            <label class="form-check-label" for="female">Female</label>
			          </div>
			          <div class="form-check">
			            <input class="form-check-input" type="radio" name="gender" id="male" ng-model="entry.user_gender" value="Male">
			            <label class="form-check-label" for="male">Male</label>
			          </div>
			          <div class="form-check">
			            <input class="form-check-input" type="radio" name="gender" id="other" ng-model="entry.user_gender" value="Other">
			            <label class="form-check-label" for="other">Other</label>
			          </div>
			        </div>
			      </div>

			      <div class="form-group row">
			        <label class="col-sm-2 col-form-label" for="contact number">Contact Number:</label>
			        <div class="col-sm-10">
			        	<input id="contact" class="form-control" type="text" name="contact" ng-model="entry.user_contact" placeholder="Enter contuct number..." required>
			        	<p style="color:red" ng-show="regiform.contact.$dirty && regiform.Contact.$invalid">
							<span ng-show="regiform.contact.$error.required">Contact is required.</span>
						</p>
			        </div>
			      </div>

			      <div class="form-group row">
			        <label class="col-sm-2 col-form-label" for="email">E-mail:</label>
			        <div class="col-sm-10"> 
			    		<input type="email" class="form-control" name="email" align="middle" ng-model="entry.user_email" placeholder="enter email..." required>
			        	<p style="color:red" ng-show="regiform.email.$dirty && regiform.email.$invalid">
							<span ng-show="regiform.email.$error.required">Email is required.</span>
							<span ng-show="regiform.email.$error.email">Invalid email address.</span>
						</p>
			        </div>
			      </div>

			    	<div class="form-group row">        
			        	<div class="col-2">
			          	<input type="submit" class="btn btn-info" value="Submit" ng-disabled="regiform.$invalid">
			    	</div>
			    	<!--ng-click="submitForm()" ng-show="submit"<div class="col-2">
			          	<input type="submit" class="btn btn-info" value="Update" ng-hide="update" ng-click="updateInfo()">
			    	</div>-->
			        <div class="col-2">
			        	<input type="button" class="btn btn-danger" value="Cancel" ng-click="formOff()">
			        </div>
			      </div>
		    	</form>
		  	</div>
		</div>

		<div class="container table-responsive" style="padding-top: 20px;">
			<table class="table table-dark table-hover">
				<thead>
					<tr>
						<th>Emp ID</th>
						<th>Employee Name</th>
						<th>Email Address</th>
						<th>Gender</th>
						<th>Address</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="detail in tabledata | filter: search">
						<td>{{detail.user_id}}</td>
						<td>{{detail.user_name}}</td>
						<td>{{detail.user_gender}}</td>
						<td>{{detail.user_contact}}</td>
						<td>{{detail.user_email}}</td>
						<td><button class="btn btn-info" ng-click="editInfo(detail)" title="Edit"><i class="fas fa-edit"></i></button></td>
						<td><button class="btn btn-danger" ng-click="deleteUser(detail)" title="Delete"><i class="fas fa-trash-alt"></i></button></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<footer>
	    <div class="container-fluid">
	    	<div class="row">

	        	<div class="col-sm-4 ftcol1">
	          		<hr class="light">
	          		<div class="col1st">
	            		<h3><img src="Images/uk.png" alt="ukflag" style="width: 40px;"> UK Office</h3>
	            		<p>Shafi Consultancy Limited,<br>
	            			Regus House,<br>
	            			Highbridge Estate,<br>
	            			Oxford Road,<br>
	            			Uxbridge,<br>
	            			Middlesex,<br>
	            			UB8 1HR<br>
	            			United Kingdom<br>
	            			Email: Shafi@shaficonsultancy.com<br>
	            			Tel: &nbsp;+44 1895 876 533<br>
	            			&nbsp; &nbsp; &nbsp; &nbsp;+44 7702 887 219</p>
	          		</div>
	        	</div>

	        	<div class="col-sm-4 ftcol2">
	          		<hr class="light">
	          		<div class="col2nd">
	            		<h3><img src="Images/bangladesh.png" alt="ukflag" style="width: 50px;"> Bangladesh Office</h3>
	            		<p>Shafi Consultancy Bangladesh,<br>
	            		93 Kajolshah,<br>
	            		Sylhet - 3100,<br>
	            		Bangladesh<br>
	            		Email: Mokhfur@shaficonsultancy.com<br>
	            		Tel: &nbsp;+880 821 718 571<br>
	            		&nbsp; &nbsp; &nbsp; &nbsp;+880 173 004 9205</p>
	          		</div>
	        	</div>

	        	<div class="col-sm-4 ftcol3">
	          		<hr class="light">
	          		<div class="col3rd">
	            		<h3>&nbsp; &nbsp; &nbsp;Let Us Know</h3>
	            		<h5>We are always happy to talk!</h5>
	            		<h6>More importantly, we are always happy to listen.<br>
	              		If you would like to discuss what we can do for you or to discuss your requirements, then please contact us using the  form below.</h6>
	          		</div>
	        	</div>
			</div>
	    </div>
	</footer>
</body>
</html>